/* --------- Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@100;300;400;500;700;900&family=VT323&display=swap');

/* --------- Body style */
h2,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 100%;
    height: auto;
}

/* --------- Game Window style */
#game-window{
    background-color: antiquewhite;
    height: fit-content;
    padding: 2em;
}

/* --------- Computer Player Window style */
#comp-player{
    background-color: yellowgreen;
    color: green;
    text-align: center;
    margin-bottom: 32px;
    padding: 2em;
    box-shadow: 5px 5px;
}

/* --------- Text styling */
#h2{
    font-size: 1em;
}

/* --------- Label */
label{
    font-size: 2em;
}

#math-question{
    font-size: 3em;
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 1em;
    box-shadow: 5px 5px;
}

/* --------- Button style */
.btn{
    background-color: rebeccapurple;
    color:white;
    border-radius: 15%;
    text-align: center;
    margin-bottom: 32px;
    box-shadow: 2px 2px;
    margin: 0.6em;
}

/* --------- Button recolor with jQuery */
.btn-red{
    background-color: red;
    color: white;
}

/* --------- Username display style */
#username-style{
    color: white;
    font-style: italic;
    font-family: 'VT323', monospace;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.25em;
}

/* --------- Color and font family of the username text box */
.user-text{
    font-family: 'Gloria Hallelujah', cursive;
    color: red;
}

/* --------- Card Style */
.card {
    box-shadow: 2px 2px;
    transition: 0.25s ease;
    /* --------- card class h-100, fills entire div, scaling it down allows for space between the cards while keeping the sizes relative. */
    scale: 95%; 
}

/* --------- Focus effects */
.card:focus,
.user-text:focus {
    outline: 2px solid red;
}

/* --------- Hover effects */
.card:hover {
    transform: scale(1.05);
    outline: 2px solid red;
    box-shadow: 5px 5px 15px;
    z-index: 1;
}

h3{
    font-size: 1.75em;
    font-weight: bold;
}

p{
    font-size: 1.25em;
    font-style: oblique;
    font-weight: normal;
}

.card-body a {
    color: red;
    font-size: 1em;
}