/* --------- Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@100;300;400;500;700;900&family=VT323&display=swap');

/*----------------------------- Removes default margins & padding to clear unwanted space*/
h1,
h2,
h3,
h4,
p,
a,
.footer_hr {
    margin: 0;
    padding: 0;
}

/* --------- Body style */
h2,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/*--- Stops fixed-footer overlapping content. */
body {
    background: #00303b;
    padding-bottom: 120px;
}

/* --------- Footer style. */
footer {
    background-color: #f1f2da;
    box-shadow: 5px 5px #ffce96;
}

/* --------- Footer HR styled to provide drop shadow. */
.footer_hr {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/* --------- Link styling for Copyright in Footer. */
a {
    color: #ff7777;
    text-decoration: none;
    text-transform: uppercase;
}

/* --------- Game Window style */
#game-window {
    background-color: #f1f2da;
    padding: 2em;
    box-shadow: 5px 5px #ffce96;
}

/* --------- Computer Player & Game Over Window style */
#comp-player,
#game-over-window {
    background-color: #f1f2da;
    color: #00303b;
    margin-bottom: 32px;
    padding: 2em;
    box-shadow: 5px 5px #ffce96;
}

/* --------- Hides the Game Over Window by default */
#game-over-window {
    display: none;
}

/* --------- Computer Player top margin */
#comp-player {
    margin-top: 1em;
    overflow-wrap: normal;
}

/* --------- Label used by Math Questions and Username box*/
label {
    font-size: 2em;
}

/* --------- Math Questions Styling */
#math-question {
    font-size: 3em;
    background-color: #ff7777;
    color: black;
    text-align: center;
    padding: 1em;
    box-shadow: 5px 5px;
}

/* --------- Button style */
.btn {
    background-color: #ff7777;
    color: #00303b;
    border-radius: 10%;
    text-align: center;
    margin-bottom: 32px;
    box-shadow: 2px 2px;
    margin: 0.6em;
}

/* --------- Color and font family of the username text box */
.user-text {
    font-family: 'Gloria Hallelujah', cursive;
    color: #ff7777;
}

/* --------- Username display style */
#username-style {
    color: black;
    font-style: italic;
    font-family: 'VT323', monospace;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.25em;
}

/* --------- Card Style */
.card {
    box-shadow: 2px 2px;
    transition: 0.25s ease;
    /* --------- card class h-100, fills entire height of the div causing them to touch. Scaling them down allows for space between the cards while keeping the sizes relative. */
    transform: scale(0.95);
}

/* --------- Hover effects */
.card:hover {
    transform: scale(1.05);
    outline: 2px solid #ff7777;
    box-shadow: 5px 5px 15px;
    z-index: 1;
}

/* --------- Card name style */
h3 {
    font-size: 1.75em;
    font-weight: bold;
}

/* --------- Card skill style */
p {
    font-size: 1.25em;
    font-style: oblique;
    font-weight: normal;
}

/* --------- Card <a> style */
.card-footer a {
    color: #ff7777;
    font-size: 1em;
}

/* --------- onClick destroy style for selected card */
.destroy {

    animation: fadeToGrey 5s ease-out forwards;
}

/* --------- override card:hover */
.destroy:hover {
    outline: 6px solid #00303b;
}

/* --------- Animation to fade the card to grey when the destroy class is added */
@keyframes fadeToGrey {
    from {
        filter: grayscale(0%);
    }

    to {
        filter: grayscale(100%);
    }

    from {
        opacity: 100%;
    }

    to {
        opacity: 60%;
    }
}

/* --------- Background Style. Created by: https://speckyboy.com/css-javascript-animated-backgrounds */

.area {
    background: #00303b;
    width: 100%;
    height: 100vh;
    z-index: -10;
    position: fixed;
    bottom: 1px;
    /*-- This allowed the div to appear fullscreen behind the other div elements.*/
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}